/* @import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Edu+SA+Beginner&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* color: red; */

}

body {
    overflow: hidden;
}

.background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url('https://i.pinimg.com/564x/26/93/ea/2693ea47d39a1bb8ffe184d486236631.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
}

header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.cabeçalho-link {
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
    font-size: 18px;
    padding-top: 30px;
    padding: 20px;

}

.cabeçalho-link a {
    color: antiquewhite;
    font-size: 12px;
    font-size: 25px;
    padding: 5px;
  
}

.cabeçalho-link a:hover {
    color: rgb(27, 191, 180);
    transition: 0.3s all;
}

button {
    border-radius: 8px;
    width: 170px;
    height: 45px;
    background-color: black;
    color: antiquewhite;
    border-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;


}

/* .logo-nome {
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1 px solid rgb(27, 191, 180);
    color: rgb(27, 191, 180);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
    color: red;

} */

.container-text {
    padding: 150px 0 0 130px;
}

h4 {
    color:antiquewhite;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color:antiquewhite;
}

h1 {
    color:black;
    margin-top: 10px;
    font-size: 35px;
}

.text span {
    color: rgb(8, 164, 154);
    font-size: 30px;
}

.text p {
    color:antiquewhite;
    font-size: 20px;
    /* font-weight: 300px; */
    margin-top: 10px;
}

.redes-sociais a {
    color: rgb(8, 164, 154);
    padding: 30px;
    margin-top: 5px;
    font-size: 40px;
    
}